*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* NAVBAR */

.img{
    height: 40px;
    width: auto;
    margin-right: auto;
    margin-left: 30px;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div{
    margin-right: 20px;
}

nav a {
    margin: 10px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #3b82f6;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #3b82f6;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* CONTENEDOR TITULO + FILTRO */
.contenedor_titulo_filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    margin-top: 10px;
    flex-wrap: wrap; /* para responsive */
    gap: 10px;
}

/* TITULO */
.subtitulo {
    font-size: 1.4rem;
    font-weight: 600;
}

/* FORM FILTRO */
.contenedor_titulo_filtro form {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* SELECT */
.filtro {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
}

/* HOVER / FOCUS */
.filtro:hover,
.filtro:focus {
    border-color: #2563eb;
    outline: none;
}

/* BOTON */
.contenedor_titulo_filtro button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: white;
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.2s;
}

/* HOVER BOTON */
.contenedor_titulo_filtro button:hover {
    background-color: #1d4ed8;
}

/* CONTENEDOR */
.container {
    padding: 20px;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.detalles{
    margin: 10px;
}

.resumen {
    display: flex;
    gap: 20px;
}

.resumen div {
    flex: 1;
    text-align: center;
}

.ingreso {
    color: green;
}

.gasto {
    color: red;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

td {
    vertical-align: middle;
}

.botones {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.botones form {
    margin: 0;
}

.botones button {
    white-space: nowrap;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-eliminar {
    background-color: red;
    color: white;
    margin: 10px;
}

.btn-editar {
    background-color: orange;
    color: white;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: white;
    padding: 30px 20px;
    width: 100%;
    margin-top: 40px;
}

/* TITULO */
.footer_title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* CONTENEDOR LINKS */
.contenedor_a {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* LINKS */
.buttom_footer {
    text-decoration: none;
    font-size: 14px;
    color: #ccc;
    position: relative;
    transition: color 0.3s;
}

/* HOVER COLOR */
.buttom_footer:hover {
    color: #3b82f6;
}

/* SUBRAYADO ANIMADO */
.buttom_footer::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #3b82f6;
    transition: 0.3s;
}

.buttom_footer:hover::after {
    width: 100%;
}

.footer_copy {
    text-align: center;
    font-size: 12px;
    color: #aaa;
    margin-top: 20px;
}

/* agregar html */

.contenedor {
    padding: 20px;
    margin: 20px;
}

.titulo_form{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

/* CONTENEDOR DEL FORMULARIO */
.formulario {
    max-width: 500px;
    margin: 40px auto;
    padding: 50px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* LABELS */
.label_form {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* INPUTS */
.input_form {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: all 0.2s ease;
}

/* EFECTO AL HACER CLICK */
.input_form:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.5);
}

/* BOTÓN */
.btn-form {
    margin-top: 10px;
    margin-left: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

/* HOVER BOTÓN */
.btn-form:hover {
    background-color: #43a047;
}

/* SECCION RESUMEN CHARTS */
/* TITULO */
.titulo_resumen {
    text-align: center;
    font-size: 38px;
    margin: 60px;
}

/* SECCIONES */
.seccion {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

/* CONTENEDOR PRINCIPAL */
.contenido {
    width: 90%;
    max-width: 1000px;
    display: flex;
    gap: 30px;
    padding: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contenedor_resumen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* para responsive */
    gap: 60px;
    margin: 30px;
}

/* GRAFICO */
.grafico {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTROL DEL CANVAS */
.grafico canvas {
    max-width: 100%;
    height: 280px;
}

/* RESUMEN TEXTO */
.resumen_chart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TITULO INTERNO */
.resumen_chart h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

/* TEXTO */
/* estilo general para los párrafos del resumen */
.resumen_chart p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #000000;
    margin: 5px 0;
    padding: 3px;  
    transition: all 0.3s ease;
}

/* efecto hover para que se vea dinámico */
.resumen_chart p:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #343232;
    transform: translateX(5px);
}

.resumen_chart p::first-letter {
    text-transform: uppercase;
}

/* HOVER SUAVE */
.contenido:hover {
    transform: translateY(-3px);
    transition: 0.2s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
    }

    .grafico canvas {
        height: 250px;
    }
}

/* CONTENEDOR (arriba derecha) */
.contenedor_msj {
    position: fixed;
    top: 90px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
    min-width: 220px;
    max-width: 300px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 0.9rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-left: 5px solid;
    transition: all 0.5s ease;
}

/* SUCCESS */
.success {
    background-color: #dcfce7;
    color: #166534;
    border-color: #22c55e;
}

/* ERROR */
.error {
    background-color: #fee2e2;
    color: #991b1b;
    border-color: #ef4444;
}

/* INFO */
.info {
    background-color: #fef9c3;
    color: #854d0e;
    border-color: #facc15;
}

/* ANIMACIÓN ENTRADA */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}