{% extends './layout.html' %}

{% block title %}Gestor de gastos{% endblock %}

{% block body %}
    <div class="container">
        <!-- RESUMEN -->
        <div class="card resumen">
            <div>
                <h3 class="detalles">Saldo</h3>
                <p>${{ saldo }}</p>
            </div>
            <div>
                <h3 class="detalles">Ingresos</h3>
                <p class="ingreso">${{ total_ingresos }}</p>
            </div>
            <div>
                <h3 class="detalles">Gastos</h3>
                <p class="gasto">${{ total_gastado }}</p>
            </div>
        </div>

        <!-- LISTA DE MOVIMIENTOS -->
        <div class="card">
            {% if mes %}
                <h3 class="subtitulo">Movimientos de {{ mes }}</h3>
            {% else %}
                <h3 class="subtitulo">Movimientos</h3>
            {% endif %}
            <form method="GET" action="/">
                <select name="mes">
                    <option value="">Todos</option>
                    <option value="2026-01">Enero</option>
                    <option value="2026-02">Febrero</option>
                    <option value="2026-03">Marzo</option>
                </select>
                <button type="submit">Filtrar</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gasto in gastos_mes %}
                    <tr>
                        <td>{{ gasto.Fecha }}</td>
                        <td class="{{ 'ingreso' if gasto.Tipo == 'ingreso' else 'gasto'  }}">{{ gasto.Tipo }}</td>
                        <td>{{ gasto.Categoria }}</td>
                        <td>${{ "{:,}".format(gasto['Monto']).replace(",",".") }}</td>
                        <td>
                            <div class="botones">
                                <form action="/editar" method="GET">
                                <input type="hidden" name="indice" value="{{ loop.index0 }}">
                                <button class="btn-editar">Editar</button>
                                </form>
                                <form action="/eliminar" method="POST">
                                <input type="hidden" name="indice" value="{{ loop.index0 }}">
                                <button class="btn-eliminar">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    <!-- MENSAJES FLASH -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <script>
            window.mensajes = {{ messages | tojson | safe }};
        </script>
    {% endwith %}
{% endblock %}