{% extends './layout.html' %}

{% block title %}Gestor de gastos{% endblock %}

{% block body %}
    <div class="container">

        <!-- RESUMEN -->
        <div class="card resumen">
            <div>
                <h3 class="detalles">Saldo</h3>
                <p>$1000</p>
            </div>
            <div>
                <h3 class="detalles">Ingresos</h3>
                <p class="ingreso">$2000</p>
            </div>
            <div>
                <h3 class="detalles">Gastos</h3>
                <p class="gasto">$1000</p>
            </div>
        </div>

        <!-- LISTA DE MOVIMIENTOS -->
        <div class="card">
            <h3 class="subtitulo">Movimientos</h3>

            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/04/2026</td>
                        <td class="ingreso">Ingreso</td>
                        <td>Sueldo</td>
                        <td>$2000</td>
                        <td>
                            <button class="btn-editar">Editar</button>
                            <button class="btn-eliminar">Eliminar</button>
                        </td>
                    </tr>

                    <tr>
                        <td>02/04/2026</td>
                        <td class="gasto">Gasto</td>
                        <td>Comida</td>
                        <td>$500</td>
                        <td>
                            <button class="btn-editar">Editar</button>
                            <button class="btn-eliminar">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
{% endblock %}