<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/icono.ico" type="image/ico">
    <!-- LINK AL CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
</head>
<body>
    <!-- NAVBAR -->
    <!-- la dejamos en el layout porque independientemente de la seccion va a ser igual -->
    <nav>
        <img src="/static/icono.ico" alt="" class="img">
        <div>
            <a href="/">Inicio</a>
            <a href="/agregar_datos">Agregar</a>
            <a href="/resumen">Resumen</a>
        </div>
    </nav>
    <!-- cambia segun la seccion que estemos -->
     <main>
        <div id="contenedor_msj"></div>
        {% block body %}
        {% endblock %}
     </main>
    <footer class="footer">
        <h2 class="footer_title">Gestor de movimientos</h2>
        <div class="contenedor_a">
            <a class="buttom_footer" href="/">Inicio</a>
            <a class="buttom_footer" href="/agregar_datos">Agregar</a>
            <a href="/resumen" class="buttom_footer">Resumen</a>
        </div>
        <p class="footer_copy">© 2026 - Gestor de movimientos</p>
    </footer>
    <script src="{{ url_for('static', filename='js/layout.js')}}"></script>
</body>
</html>
