{% extends './layout.html' %}

{% block title %}Gestor de gastos{% endblock %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.js"></script>
<div class="contenedor_titulo_filtro contenedor_resumen">
    {% if mes %}
        <h3 class="subtitulo">Resumen de {{ mes_titulo }}</h3>
    {% else %}
        <h3 class="subtitulo">{{ mes_titulo }}</h3>
    {% endif %}
    <!-- FILTRO -->
    <form method="GET" action="/resumen">
        <select name="mes" class="filtro">
            <option value="">Todos</option>
            <option value="2026-02" {% if mes == "2026-02" %} selected {% endif %}>Febrero</option>
            <option value="2026-03"{% if mes == "2026-03" %} selected {% endif %}>Marzo</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>
</div>
<div class="seccion">
    <div class="contenido">
        <div class="grafico">
            <canvas id="gastos"></canvas>
        </div>
        <div class="resumen_chart">
            <h2>Gastos</h2>
            <p>Resumen de gastos</p>
            <br>
            {% for clave,valor in cat_gastos.items() %}
            <p>{{ clave }}: ${{ "{:,}".format(valor).replace(",",".") }}</p>
            {% endfor %}
            <br>
            <p>Total gastado: ${{ "{:,}".format(totales.gastos).replace(",",".") }}</p>
        </div>
    </div>
</div>

<div class="seccion">
    <div class="contenido">
        <div class="grafico">
            <canvas id="ingresos"></canvas>
        </div>
        <div class="resumen_chart">
            <h2>Ingresos</h2>
            <p>Resumen de ingresos</p>
            <br>
            {% for clave,valor in cat_ingresos.items() %}
                <p>{{ clave }}: ${{ "{:,}".format(valor).replace(",",".") }}</p>
            {% endfor %}
            <br>
            <p>Total de ingresos: ${{ "{:,}".format(totales.ingresos).replace(",",".") }}</p>
        </div>
    </div>
</div>

<div class="seccion">
    <div class="contenido">
        <div class="grafico">
            <canvas id="balance"></canvas>
        </div>
        <div class="resumen_chart">
            <h2>Balance</h2>
            <p>Resumen de balance</p>
            <br>
            <p>Total ingresos: ${{ "{:,}".format(totales.ingresos).replace(",",".") }}</p>
            <br>
            <p>Total gastos: ${{ "{:,}".format(totales.gastos).replace(",",".") }}</p>
            <br>
            <p>Saldo disponible: ${{ "{:,}".format(totales.saldo).replace(",",".") }}</p>
        </div>
    </div>
</div>
<script>
    window.datos_gastos = {{ cat_gastos | tojson | safe }};
    window.datos_ingresos = {{ cat_ingresos | tojson | safe }};
    window.datos_totales = {{ totales | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/resumen.js') }}"></script>
{% endblock %}